/* Fonts import */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
/* Color palette */
/* General */
* {
  box-sizing: border-box;
  position: relative;
  cursor: default;
  margin: 0; }

html {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 62.5%; }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Josefin Sans";
  font-weight: regular;
  font-size: 1.6rem;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: linear-gradient(135deg, white, #fff5f5); }

a {
  cursor: pointer;
  text-decoration: none; }

@media only screen and (min-width: 1440px) {
  body {
    height: 100vh;
    position: absolute;
    flex-direction: row-reverse; } }
